@CHARSET "UTF-8";

body {
    background-image: url("resources/img/woodgrain.png");
    background-repeat: repeat;
    font-family: 'Bree Serif';
    
}

#form {
    color: aliceblue;
}

/* Estilos header */

#header {
    min-width: 100%;
    height: 80px;
    display: inline-block;
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0.5;
}

#header > h1 {
    opacity: initial;
    color: black;
    font-family: 'Unica One';
}

/* Estilos sección horas disponibles */

#div-disponibles {
    display: inline-block;
}

#div-disponibles label span {
    text-align:center;
    font-size: 20px;
    padding:13px 0px;
    display:block;
    font-style: normal;
}

#div-disponibles label {
    width:100px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
       
}

/* así quitamos los circulitos de los radio button*/
.horas-disponibles > input {
    display: none;
}


#div-disponibles input:checked + span {
    background-color:#a5ccaf;
    color:#ffffff;
}


/* Estilo formulario - parte izquierda */
.inputs-form {
    width: 70%;
}

/* Estilo botones */
#div-disponibles .horas-disponibles, .btn-reservar {
    background-color:#72C3B7;
    color:#ffffff;
}

.btn-reservar {
    font-size: 20px;
    width:200px;
    height: 50px;
    margin-top: 250px;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

.btn-reservar:hover {
    background-color: #a5ccaf;
    border: 1px solid #D0D0D0;
}


